<section class="wrapper">
	<section class="container">
		<div class="form_blk">
			<div class="sort">
			<ul> <li>Sort : </li>
				<li><input type="radio" name="sort" id="score">Score</li>
				<li><input type="radio" name="sort" id="time">Time</li>
				</ul>
			</div>
			<main class="main_block">
			</main>


		</div>

	</section>

</section>